@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body{
    margin: 0%;
    padding: 0%;
    background-color: navy;

}
.box .container
{width: 550px;
    height: 120px;
    background: navy;
    border-radius: 20px;
    border: 7px solid navy;
    box-shadow:  0px -15px 15px  rgba(255,255,255,0.5),
    inset 0px -15px 15px rgba(255,255,255,0.5),
     0px 15px 15px rgba(0,0,0,0.5),
    inset 0px 15px 15px rgba(0,0,0,0.5);
   
   opacity: 0.5;
}
.container
{
    font-family: 'Square Peg', cursive;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    text-align: center;
}
@media(max-width: 500px){
    .box .container
{width: 350px;
    height: 100px;
    background: navy;
    border-radius: 20px;
    border: 7px solid navy;
    box-shadow:  0px -15px 15px  rgba(255,255,255,0.5),
    inset 0px -15px 15px rgba(255,255,255,0.5),
     0px 15px 15px rgba(0,0,0,0.5),
    inset 0px 15px 15px rgba(0,0,0,0.5);
   
   opacity: 0.5;
}
.container
{
    font-family: 'Square Peg', cursive;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
}
}